.homepage__bg {
    background-image: url("../assets/imgs/001.png");
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.logForm{
    background-color: rgba(0, 0, 0, 0.747);
    color: aliceblue;
    padding: 20px;
    width: 30vw;
    border-radius: 5px;
}
.loginP{
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;

}
.montxtLogin{
    display: grid;
    text-align: center;
}